@import url("https://fonts.googleapis.com/css?family=Roboto:400");

body, html{
	height:100%;
	margin:0;
	font-size:16px;
	font-family:"Roboto", sans-serif;
	font-weight:400;
	line-height:1.8em;
	color:#666;
}

html{
	scroll-behavior:smooth;
}

h2{
	text-decoration:underline;
}

.container{
	position: fixed;
	z-index: 1;
	width:100%;
	margin:0 auto;
	background-color:#fff;
}

header{
	background:#FFF;
}

header::after{
	content:'';
	display:table;
	clear:both;
}

.logo{
	float:left;
	padding:0px;
}

nav{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

nav ul{
	margin:0;
	padding:0;
	list-style:none;
}

nav li{
	display:inline-block;
	margin-left:5%;
	padding-top:2.5%;
	position:relative;
}

nav a{
	color:#444;
	text-decoration:none;
	text-transform:uppercase;
	font-size:1.5vw;
	font-weight:400;
}

nav a:hover{
	color:#00B6F5;
}

nav a::before{
	content:'';
	display:block;
	height:6%;
	width:0%;
	background-color:#444;
	position:absolute;
	top:25%;
	transition:all ease-in-out 500ms;
}

nav a:hover::before{
	width:100%;
}

.bg1, .bg2, .bg3, .bg4{
	position:relative;
	opacity:0.70;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.bg1{
	background-image:url('../img/bg_1.png');
	min-height:100%;
}

.bg2{
	background-image:url('../img/bg_2.png');
	min-height:400px;
}

.bg3{
	background-image:url('../img/bg_3.png');
	min-height:400px;
}

.bg4{
	background-image:url('../img/bg_1.png');
	min-height:100%;
}

.section{
	text-align:center;
	padding:50px 80px;
}

.section ul{
	white-space: nowrap;
	font-size:1vw;
	list-style-position: inside;
	text-align:left;
	padding-left:90%;
}

.section-light{
	background-color:#f4f4f4;
	color:#666;
}

.section-dark{
	background-color:#282e34;
	color:#ddd;
}

.section-contact{
	background-color:#282e34;
	color:#636363;
}

.ptext{
	position:absolute;
	top:50%;
	width:100%;
	text-align:center;
	color:#000;
	font-size:27px;
	font-weight:bold;
	letter-spacing:8px;
	line-height:80px;
	/*text-transform:uppercase; */
}

.ptext .border{
	background-color:#111;
	color:#fff;
	padding:20px;
	opacity:0.77;
}

.ptext .border.trans{
	background-color:transparent;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #0171c3;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:all ease-in-out 500ms;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #014373;
}

/* Add a background color and some padding around the form */
.contain {
  margin-left:auto;
  margin-right:auto;
  width:50%;
  border-radius: 5px;
  background-color: #c9c9c9;
  padding: 20px;
}


@media(max-width:607px){
	.bg1, .bg2, .bg3, .bg4{
		background-attachment:scroll;
	}
	nav{
		display:none;
	}
	.logo{
		margin-left:auto;
		margin-right:auto;
		width:100%;
	}
	.section ul{
		white-space: nowrap;
		font-size:16px;
		list-style-position: inside;
		text-align:left;
		padding-left:0;
		display:inline-block;
	}
	.section p{
		width:100%;
		text-align:center;
	}
	.contain{
		width:80%;
		padding:0 0;
		margin:0;
	}
}

@media(max-width:726px){
	.section ul{
		white-space: nowrap;
		font-size:16px;
		list-style-position: inside;
		text-align:left;
		padding-left:0;
		display:inline-block;
	}
	.section p{
		width:90%;
		text-align:center;
	}
	.contain{
		width:80%;
		padding:0 0;
		margin:0;
	}
}
